<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{header}"></div>

<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Serviços</strong>
    </div>
    <div class="panel-body">
        <div th:switch="${jobs}">
            <h2 th:case="null">No jobs yet!</h2>
            <div th:case="*">
                <h2>Jobs</h2>
                <table class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>OS</th>
                            <th>Cliente</th>
                            <th>Data</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="job : ${jobs}">
                            <td th:text="${job.id}"></td>
                            <td th:text="${job.getClient().getName()}"></td>
                            <td th:text="${job.getDate()}"></td>
                            <td th:text="${job.getJobType().getName()}"></td>
                            <td th:text="${job.getDescription()}"></td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-sm btn-primary" th:href="@{jobs/edit/{id}(id=${job.id})}" >Editar</a>
                                    <a class="delete btn btn-sm btn-danger" th:href="@{jobs/delete/{id}(id=${job.id})}">Excluir</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-sm btn-success" th:href="@{jobs/add}" >Adicionar</a>
        </div>
    </div>
</div>
</body>
</html>