<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{header}"></div>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Cadastro de Serviço</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" action="#" th:action="@{/jobs/add}" th:object="${job}" method="post">

            <div class="form-group">
                <fieldset>
                    <div class="form-group row">
                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                <span th:text="${detailedError.message}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-1">
                            <label>OS</label>
                            <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('jobTypeId')}? 'has-error'">
                            <label>Client</label>
                            <select class="form-control" id="clientId" name="clientId">
                                <th:block th:each="client : ${clients}">
                                    <option th:value="${client.id}" th:text="${client.name}" th:selected="${client.id == job.clientId}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('jobTypeId')}? 'has-error'">
                            <label>Autor</label>
                            <select class="form-control" id="jobTypeId" name="jobTypeId">
                                <th:block th:each="jobType : ${jobTypes}">
                                    <option th:value="${jobType.id}" th:text="${jobType.name}"  th:selected="${jobType.id == job.jobTypeId}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('jobValue')}? 'has-error'">
                            <label>Valor</label>
                            <input type="text" class="form-control input-sm" th:field="*{jobValue}" maxlength="150" placeholder="Valor"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2" th:classappend="${#fields.hasErrors('date')}? 'has-error'">
                            <label>Data</label>
                            <input type="date" class="form-control input-sm" th:field="*{date}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
                            <label>Descrição</label>
                            <textarea class="form-control input-sm" th:field="*{description}" cols="5" rows="5" placeholder="Descrição"></textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                <a th:href="@{/}" class="btn btn-sm btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>